<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>이미지 추가</title>
  </head>
  <body class="m-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <a href="{% url 'gallery' %}" class="btn btn-dark my-3">뒤로가기</a>
          <div class="card">
            <form method="POST" action="" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group m-3">
                <label>장소에 관한 설명</label>
                <input
                  required
                  name="description"
                  type="text"
                  class="form-control"
                  placeholder="장소에 관해서 적어주세요."
                />
              </div>

              <div class="form-group m-3">
                <label>카테고리</label>
                <select name="category" class="form-control">
                  <option value="none">카테고리를 정해주세요...</option>
                  {% for category in categories %}
                  <option value="{{category.id}}">{{category.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group m-3">
                <label>새로운 카테고리</label>
                <input
                  name="category_new"
                  type="text"
                  class="form-control"
                  placeholder="새로운 카테고리를 입력해주세요."
                />
              </div>

              <div class="form-group m-3">
                <label>사진 업로드</label>
                <input
                  required
                  multiple
                  name="image"
                  type="file"
                  class="form-control-file"
                />
              </div>
              <button type="submit" class="btn btn-primary m-3">등록</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
